a{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-family: 'Fira Sans', sans-serif;
}

h5{
    font-family: 'Fjalla One', sans-serif;
}

#article { 
    text-transform: lowercase;
}

#article::first-letter { 
    
    text-transform: uppercase; font-size: 2em; font-weight: bold;}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}